/* body */
*{
  color: #D3D3D3;
}
body{
  display: block;
}

#jj-container {
  margin-left:200px;
  padding: 0px 10px;

}

#jj-header {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #bcbcbc;
  text-align: center;
}

#jj-content {
  width: auto;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #bcbcbc;
}



#jj-footer {
  clear: both;
  padding: 20px;
  border: 1px solid #bcbcbc;
}

/* sidebar */
#jj-sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
  border: 1px solid #bcbcbc;
}
#jj-sidebar a{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display:block;
}
#jj-sidebar a:hover{
  color:#778899;
}

/* nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 199px;
  background-color: #111;
  font-size: 24px;
  color: #D3D3D3;
}

li a {
  display: block;
  color: #111;
  padding: 8px 16px;
  text-decoration: none;
  color:#D3D3D3;
}

li a:hover {
  background-color: #555;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


/* img alignment */

.img-center{
  display: block;
  margin-left:auto;
  margin-right:auto;
}

