* {
    color: white;
}

body{
    background-color: #A59D97;

}
.welcome{
    /*border: 10px solid red;
    width, height: 100%;
    padding: 10px;*/
    text-align: center;               
}
/*navigation bar */
#nav{
    list-style-type:none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color:#333;
}
ul#nav>li{ /*자식 선택자로 nav 아이디 아래에 있는 리스트에만 적용*/
    float: left;
}
ul#nave>li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul#nav>li a:hover {
    background-color: #555;
}

ul{
    list-style-position: inside;
    background-color: gray;
    
}

div{
    background-color: #555;
    margin-left: 10px;
    margin-right:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 100%;
    padding-top: 10px;
}
