/* padding */

/* padding 프로퍼티는 요소의 콘텐츠와 테두리 사이의 여백을 지정한다.

박스에 대한 너비가 지정된 경우 패딩은 박스의 너비에 더해진다. 

padding-top,right,bottom,left를 이용해 박스의 각 면에 다른 값을 지정할 수 있다.

그리고 단축형도 사용할 수도 있다.
padding: 10px 5px 3px 1px 
순서는 시계방향(상,우,하,좌)이다.*/



p {
    width: 275px;
    border: 2px solid #0088dd;
}

p.example {
    padding: 10px;
}


/* margin */

/* margin 프로퍼티는 박스 사이의 간격을 제아한다. */

/* 만일 한 박스가 또 다른 박스 위에 위치하면 마진은 통합된다. 이는 두 마진 중에 큰 마진이 사용되며 작은 마진은 무시된다는 의미이다. */

/* padding과 동일하게 단축형을 사용할 수 있다.
margin: 1px 2px 3px 4px;
방향도 시계방향으로 동일하다.

떄로는 다음과 같은 형식도 볼 수 있는데, 이는 좌/우 마진은 10픽셀로, 상/하 마진은 20픽셀로 설정한다는 의미다.

margin 10px 20px;

패딩도 위와같은 단축형을 적용할 수 있다.
*/

p {
    width: 200px;
    border: 2px solid #0088dd;
    padding: 10px
}

p.example2 {
    margin: 20px 20px;
}



/* 콘텐츠 가운데 정렬 */


/* 박스를 페이지의 가운데 또는 페이지에 있는 요소 내부의 가운데에 정렬하고 싶다면 left-margin과 right-margin을 auto로 설정한다.

페이지에서 박스를 가운데에 정렬하고 싶다면 박스의 width를 설정해야 한다. 그렇지 않으면 페이지의 전체 너비를 차지하게 된다.

일단 박스의 너비를 설정한 다음에는 왼쪽과 오른쪽 마진을 auot로 설정하여 박스의 양쪽 옆의 간격을 동일하게 유지한다. 
이는 페이지에서(또는 내부에 박스가 있는 요소 안에서) 박스를 가운데에 정렬하게 한다.

*/


body {
    text-align: center
}

p{
    width: 300px;
    padding: 50px;
    border: 20px solid #0088dd;
}

p.centeralign {
    margin: 10px auto 10px auto;
    text-align: left;
}



/* display */

/* 인라인/블록변경 */

/* display 프로퍼티는 인라인 요소를 블록 레벨 요소로 변경할 수 있으며, 그 반대도 가능하다. 또한 페이지에서 요소를 숨기는 데도 사용할 수 있다. */

/* display 프로퍼티에 설정할 수 있는 값은 다음과 같다.

inline
블록 레벨 요소를 인라인 요소로 만든다.

block
인라인 요소를 블록 레벨 요소로 만다.ㄴ

inline-block
블록 레벨 요소의 다른 기능을 유지하면서 블록 레벨 요소를 인라인 요소로 만든다.

none
페이지에서 요소를 숨긴다. 브라우저에 있는 페이지 소스 보기 옵션을 사용하면 박스의 콘텐츠를 볼 수는 있지만 요소가 페이지에 나타나지는 않는다.*/

li {
    display: inline;
    margin-right: 10px;
    /* <li> 요소에 대한 규칙은 인라인 요소로 처리한다고 지정함 */
}

li.coming-soon {
    display: none; 
    /* 이 리스트는 보이지 않는다. */
}

/* visibility 박스 숨기기 */

/* visibility 프로퍼티는 화면에서 박스를 숨긴다. 하지만 요소가 차지하는 영역은 그대로 남겨둔다.

visibility 프로퍼티에는 두 가지 값을 설정할 수 있다.

hidden
요소를 숨긴다.

visible 
요소를 나타낸다.

*/

li {
    display: inline;
    margin-right: 10px;
}

li.coming-soon {
    visibility: hidden;
}





