/* 유동 레이아웃 */

/* 장점 
------------------------------------------------------------
페이지는 전체 브라우저 창을 채우기 위해 확대된다. 따라서 큰 화면의 페이지 주위에 여백이 생기지 않는다.

사용자의 창이 작으면 사용자가 옆으로 스크롤하지 않아도 페이지 맞게 축소된다.

페이지가 늘어날 수 있으므로 사용자는 디자이너의 의도보다 폰트 크기를 더 크게 설정할 수 있다.

------------------------------------------------------------


단점
------------------------------------------------------------
페이지의 섹션 너비를 제어하지 않으면 특정 요소 주위에 예기치 못한 여백이나 밀린 항목으로 인해 의도한 디자인과 많이 달라질 수 있다.

사용자의 창이 넓으면 텍스트의 줄이 매우 길어져 가독성이 떨어질 수 있다.

사용자의 창이 좁으면 단어가 밀릴수 있으며 일부 단어는 여러 줄에 걸쳐 나타날 수도 있다.

사용자가 창을 너무 작게 만들어 이미지 같은 고정 너비 항목이 표현하기에 너무 작은 박스에 있게 되면 이미지가 텍스트 영역을 침범할 수 있다.

------------------------------------------------------------*/

body {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

#content {
    overflow: auto;
}

#nav, #feature, #footer {
    margin: 1%;
}

.column1, .column2, .column3 {
  background-color: #efefef;
  width: 31.3%;
  float: left;
  margin:1%;
}

.column3 {
    margin-right: 0%;
}

li {
    display: inline;
    padding: 0.5em;
}

#nav, #footer {
    background-color: #efefef;
    padding: 0.5em 0;
}
#feature, .artilce {
    height: 10em;
    margin-bottom: 1em;
    background-color: #efefef;
}