/* 고정 너비 레이아웃 */

/* 장점 
------------------------------------------------------------
픽셀값을 사용하여 요소의 크기와 위치를 정확히 제어할 수 있다.

유동 레이아웃보다 항목의 모양이나 위치의 제어가 용이하다.

화면 크기와 상관 없이 텍스트 줄의 길이를 제어할 수 있다.

이미지의 크기는 페이지의 나머지 부분에서도 항상 동일하게 유지된다.

------------------------------------------------------------


단점
------------------------------------------------------------
페이지의 가장자리에 큰 여백이 생길 수 있다.

사용자의 화면 해상도가 디자이너의 화면보다 더 높을 경우 페이지가 더 작아 보일 수 있으며 텍스트는 읽기 더 어려워질 수 있다.

사용자가 폰트 크기를 늘리면 텍스트가 할당된 영역에 맞지 않을 수 있다.

디자인은 데스크톱이나 노트북 컴퓨터와 유사한 크기나 해상도를 제공하는 기기에 최적화 돼있다.

페이지는 동일한 콘텐츠에 대해 유동 레이아웃보다 세로 영역을 더 많이 차지한다.
------------------------------------------------------------*/


body {
    width:960px;    
    margin: 0 auto; 
    text-align: center;
    /* auto는 가운데 정렬 */
}

#content{
    overflow: auto;
    height: 100%;
}

#nav, #feature, #footer {
    background-color: #efefef;
    padding: 10px;
    margin: 10px;
}

.column1, .column2, .column3 {
    background-color: #efefef;
    width: 300px;
    float: left;
    margin: 10px;
}

li {
    display: inline;
    padding: 5px;
   
}

li a {
    text-decoration: none;
    color: black
}
li a:hover {
    color: white;
}