/* color palette */

.black {
    color: #1F1F20;
}

.dark-blue {
    color: #2B4C7E;
}

.blue {
    color: #567EBB;
}

.grey {
    background-color: #606D80;
}

.white {
    background-color: #DCE0E6;
}
